@model FoundLostIndexVm
@{
    // Combine LostPets and FoundPets into a single list, including the Date and sorting by Date
    var allPets = Model.LostPets
    .Select(p => new { p.Id, p.Name, p.Description, p.Image, p.Date, ReportType = "Lost" })
    .Concat(Model.FoundPets.Select(p => new { p.Id, p.Name, p.Description, p.Image, p.Date, ReportType = "Found" }))
    .OrderByDescending(p => p.Date) // Sort by Date
    .ToList();
}

<div class="container-fluid reportlist p-4" style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center; width:90%; max-width: 1200px;">
        <div class="col-12">
            <ul class="list-unstyled">
                <p style="font-size: xx-large;">Reported Pets</p>
                @foreach (var pet in allPets)
                {
                    <div class="card mb-1">
                        <li class="row align-items-start">
                            <div class="col-auto">
                                <img src="@pet.Image" class="image-fit rounded-left" alt="@pet.Image">
                            </div>
                            <div class="col">
                                <h5 class="card-title mt-3"><strong>@pet.Name</strong></h5>
                                <p class="card-text">@pet.Description</p>
                                <p class="card-text"><em>Report Category: @pet.ReportType</em></p>
                                <!-- Indicate Lost or Found -->
                                <p class="card-text"><small class="text-muted">Reported on:
                                        @pet.Date.ToString("dd-MM-yyyy")</small></p>
                                <!-- "dd-MMMM-yyyy" om man vill månaden skriven ut i bokstäver -->
                            </div>
                        </li>
                    </div>
                }
            </ul>
        </div>
    </div>
</div>
