@model FoundLostIndexVm
@{


    
// Combine lostPetMarkers and foundPetMarkers
var combinedMarkers = Model.LostPets
    .Select(f => new
    {
        f.Name,
        f.Description,
        f.Image,
        f.Latitude,
        f.Longitude,
    })
    .Concat(Model.FoundPets
        .Select(f => new
        {
            f.Name,
            f.Description,
            f.Image,
            f.Latitude,
            f.Longitude,
        }))
    .ToList();



}

<div class="container-fluid reportlist p-4" style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center; width:90%; max-width: 1200px;">
        <ul class="list-unstyled">
            <h3> List of lost and found pets</h3>
        @foreach (var marker in combinedMarkers)
        {
    
             <div class="card mb-1" style=" width:800px;">
                <li class="row align-items-start">
                    <div class="col-auto">
                        <img src="@marker.Image" class="image-fit rounded-left " alt="@marker.Image">
                    </div>
                        <div class="col">
                            <h5 class="card-title mt-3"><strong>@marker.Name</strong></h5>
                            <p class="card-text me-3">@marker.Description</p>
                        </div>
                </li>
            </div>

        }
        </ul>

        @* <div class="col-6 me-1 ms-1">
            <table class="table">
                <ul class="list-unstyled">
                    <p style="font-size: xx-large;">Lost pets </p>
                    @foreach (var lostPet in Model.LostPets.OrderByDescending(p => p.Id))
                    {
                        <div class="card mb-1">
                            <li class="row align-items-start">
                                <div class="col-auto">
                                    <img src="@lostPet.Image" class="image-fit rounded-left " alt="@lostPet.Image">
                                </div>
                                <div class="col">
                                    <h5 class="card-title mt-3"><strong>@lostPet.Name</strong></h5>
                                    <p class="card-text">@lostPet.Description</p>
                                </div>
                            </li>
                        </div>
                    }
                </ul>

            </table>
        </div>

        <div class="col-6 ms-1 me-1">
            <div class="">
                <ul class="list-unstyled">


                    <p style="font-size: xx-large;">Found pets </p>
                    @foreach (var foundPet in Model.FoundPets.OrderByDescending(p => p.Id).Take(3))
                    {
                        <div class="card mb-1">
                            <li class="row align-items-start">
                                <div class="col-auto">
                                    <img src="@foundPet.Image" class="image-fit rounded-left " alt="@foundPet.Image">
                                </div>
                                <div class="col">
                                    <h5 class="card-title mt-3"><strong>@foundPet.Name</strong></h5>
                                    <p class="card-text">@foundPet.Description</p>
                                </div>
                            </li>
                        </div>
                    }
                </ul>
            </div>
        </div> *@
    </div>