@model PetTypeIndexVm

<div class="container text-center my-4">

    <div class="my-4">
        <a asp-action="Create" class="btn btn-success">
            + Add Category
        </a>
    </div>


    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var petType in Model.PetTypes)
        {
            <div class="card text-center m-3"
                style="width: 20rem; box-shadow: 0 4px 8px rgba(0,0,0,0.1); border: 1px solid rgba(194, 194, 194, 0.185); border-radius: 10px;">

                <img src="@petType.Image" alt="@petType.Type" class="card-img-top"
                    style="height: 200px; width: auto; object-fit: contain; margin: auto; padding-top: 10px;" />

                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-action="Products" asp-route-id="@petType.Id" class="text-decoration-none text-dark">
                            @petType.Type
                        </a>
                    </h5>

                    <hr class="my-3">
                    <div class="d-flex justify-content-center gap-2">
                        <a asp-action="Edit" asp-route-id="@petType.Id" class="btn btn-warning flex-fill">Edit</a>
                        <a asp-action="Delete" asp-route-id="@petType.Id" class="btn btn-danger flex-fill">Delete</a>
                    </div>

                </div>
            </div>
        }
    </div>

</div>
